/* Gearvn clone css */


/* Product */

#featured-product {
    padding-top: 15px;
}

#featured-product .module-product-title,
#product_related .module-product-title {
    font-size: 18px;
    float: left;
    background: #f1df8d;
    padding: 8px 15px;
    padding-right: 40px;
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#featured-product .module-product-count,
#product_related .module-product-count {
    float: left;
    padding-left: 10px;
    padding-top: 7px;
    color: #888;
}

#featured-product .module-product-category,
#product_related .module-product-category {
    float: right;
    padding-top: 7px;
}

#featured-product .module-products-content {
    padding-top: 15px;
}

#product_related {
    margin-top: 30px;
}

#product_related .module-products-content {
    padding-top: 30px;
}

#cat_product {
    padding-top: 15px !important;
}

.product-row {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.product-row:hover {
    border: 1px solid #f1df8d;
    box-shadow: none;
}

.product-row-img {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 230px;
    max-height: 363px;
    background: #fff;
}

.product-row-thumbnail {
    width: 100%;
    min-height: 211px;
    min-width: 196px;
}

.product-row-note {
    font-size: 14px;
    color: #fff;
    padding-top: 7px;
    font-style: italic;
}

.product-row-name {
    height: 35px;
    font-size: 14px;
    margin: 10px;
}

.product-row-info {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-row-percent {
    color: #180733;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    padding-top: 12px;
}

.product-row-price del {
    color: #888;
}

.product-row-sale {
    font-size: 20px;
    color: #ed0000 !important;
    font-weight: 700;
}

.product-row-bigprice {
    font-size: 30px;
    color: #0655a6;
    padding-top: 10px;
    font-weight: 700;
}

.product-row-counts {
    text-align: center;
    color: #555;
}

.product-row-buyer {
    color: #555;
}

.product-row-price-hover {
    background: none repeat scroll 0 0 rgba(121, 117, 101, 0.8);
    bottom: -100px;
    color: #fff !important;
    font-size: 13px;
    left: 0;
    padding: 10px;
    position: absolute;
    transition: bottom 0.5s ease 0s;
    width: 100%;
}

.product-row:hover .product-row-price-hover {
    bottom: 0;
    transition: bottom 0.5s ease 0s;
}

.price-range dl {
    line-height: 200%;
    margin-bottom: 5px;
}

.price-range dt {
    float: left;
    color: #333 !important;
}

.product-row-btnbuy {
    padding: 5px 12px;
    background: #252525;
    color: #fff;
    margin-top: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.product-row-btnbuy:hover {
    background-color: #0655a6;
    color: #fff;
}

h2.product-group-tittle {
    margin: 0;
    font-size: 22px;
    background: #d7202c;
    padding: 10px 20px;
    color: #fff;
    min-width: 100%;
    line-height: 1;
    display: inline-block;
}

a.products-hot-view-all {
    color: white;
    float: right;
    position: absolute;
    right: 15px;
    top: 11px;
    font-weight: 500 !important;
}

/*@media (min-width: 1025px) {*/
/*    .col-fix20 {*/
/*        width: 20% !important;*/
/*    }*/
/*    .col-fix100 {*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .col-fix20 {*/
/*        width: 20% !important;*/
/*    }*/
/*    .col-fix100 {*/
/*        width: 80% !important;*/
/*    }*/
/*    .owl-item {*/
/*        width: 262px !important;*/
/*    }*/
/*    .owl-wrapper {*/
/*        width: 2620px;*/
/*    }*/
/*}*/


/* Phongvu Style */

/*.css-5qv31o {*/
/*    margin-bottom: 24px;*/
/*    width: 100%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left: 1rem;*/
/*    padding-right: 1rem;*/
/*    max-width: 1264px;*/
/*}*/

/*.css-s2ivhv {*/
/*    border-radius: 8px;*/
/*    background-color: #ffffff;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    background-image: url(https://lh3.googleusercontent.com/DoLWLD77f50zFdCXGhcRZBqskJ3g7M2SDUTydEu4Aiks6C9Bj6aXpjrMqQ3xCHBN8f5aBvPAhjJYpCVzN5E=w1184);*/
/*    background-size: 1250px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/

/*.css-1kdw37d {*/
/*    display: -webkit-box;*/
/*    display: -webkit-flex;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    -webkit-justify-content: space-between;*/
/*    -ms-flex-pack: justify;*/
/*    justify-content: space-between;*/
/*    -webkit-align-items: center;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    padding: 16px;*/
/*    position: relative;*/
/*    border-top-left-radius: 8px;*/
/*    border-top-right-radius: 8px;*/
/*    border-bottom: 1px solid #fff;*/
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;*/
/*}*/

/*.css-1oycjaj {*/
/*    -webkit-flex: 1 0 0%;*/
/*    -ms-flex: 1 0 0%;*/
/*    flex: 1 0 0%;*/
/*    min-width: 0;*/
/*}*/

/*.css-tv1xqn {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    margin-top: 2px;*/
/*    width: 3px;*/
/*    height: 21px;*/
/*    background-color: #fff;*/
/*}*/

/*.css-36lmvm {*/
/*    color: #fff;*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*    line-height: 24px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    display: -webkit-box;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 1;*/
/*}*/

/*.css-587jha {*/
/*    color: unset;*/
/*    -webkit-text-decoration: unset;*/
/*    text-decoration: unset;*/
/*}*/

/*.css-gdl0wu {*/
/*    padding: 1rem;*/
/*    height: 433.38px;*/
/*    content-visibility: auto;*/
/*}*/

/*.css-hvsvc7 .swiper-container-horizontal {*/
/*    z-index: 0;*/
/*}*/

/*.css-hvsvc7 .swiper-container {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    list-style: none;*/
/*    padding: 0px;*/
/*    z-index: 1;*/
/*}*/

/*.css-hvsvc7 .swiper-wrapper {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    transition-property: transform;*/
/*    box-sizing: content-box;*/
/*}*/

/*.css-hvsvc7 .swiper-slide-active {*/
/*    z-index: 1001;*/
/*}*/

/*.css-hvsvc7 .swiper-slide {*/
/*    z-index: 1000;*/
/*    flex-shrink: 0;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    position: relative;*/
/*    transition-property: transform;*/
/*}*/

/*.css-gdl0wu .swiper-slide {*/
/*    max-width: 20%;*/
/*}*/

/*.css-587jha {*/
/*    color: unset;*/
/*    -webkit-text-decoration: unset;*/
/*    text-decoration: unset;*/
/*}*/

/*.css-gdl0wu .product-card {*/
/*    height: 403.39px;*/
/*}*/

/*.css-atjqcg {*/
/*    padding: 0.3rem;*/
/*    background: rgb(255, 255, 255);*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    text-decoration: none;*/
/*    color: rgb(51, 51, 51);*/
/*    border-radius: 0.5rem;*/
/*    height: 100%;*/
/*}*/

/*.css-mcowk8 {*/
/*    padding: 0.7rem;*/
/*    border-radius: 0.5rem;*/
/*    transition: transform 0.2s ease 0s;*/
/*    -webkit-font-smoothing: subpixel-antialiased;*/
/*}*/

/*.css-cssveg {*/
/*    position: relative;*/
/*}*/

/*.css-1u5p38b {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.css-1trsi03 {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    flex: 1 0 auto;*/
/*    display: flex;*/
/*    cursor: unset;*/
/*    z-index: 0;*/
/*    margin: auto;*/
/*    border-radius: 8px;*/
/*    padding-bottom: 100%;*/
/*    width: 100%;*/
/*}*/

/*.css-jdz5ak {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*    -webkit-transition: -webkit-transform 0.5s;*/
/*    -webkit-transition: transform 0.5s;*/
/*    transition: transform 0.5s;*/
/*}*/

/*img,*/
/*svg {*/
/*    vertical-align: middle;*/
/*}*/

/*.css-1qgxba5 {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    text-align: left;*/
/*    display: -webkit-box;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 3;*/
/*    font-size: 13px;*/
/*    max-height: 3.775rem;*/
/*    min-height: 3.775rem;*/
/*    margin-top: 0.5rem;*/
/*}*/

/*.css-uxu180 {*/
/*    display: flex;*/
/*    margin-top: 0.5rem;*/
/*}*/

/*.css-m5hv1w {*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    justify-content: space-between;*/
/*    --button-icon-color: #66bb6a;*/
/*}*/

/*.css-1vhjcbm {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin-left: 0.2rem;*/
/*}*/

/*.css-1ou7728 {*/
/*    width: max-content;*/
/*    display: inline-block;*/
/*    margin-bottom: 0px;*/
/*    font-size: 1rem;*/
/*    color: rgb(20, 53, 195);*/
/*    font-weight: bold;*/
/*}*/

/*.css-nq9pgm {*/
/*    display: inline-block;*/
/*    text-decoration: line-through;*/
/*    color: rgb(130, 134, 158);*/
/*    font-size: 0.75rem;*/
/*    width: 100%;*/
/*}*/

/*.css-1gmlrws {*/
/*    font-size: 0.75rem;*/
/*    color: rgb(48, 150, 179);*/
/*    margin-left: 6px;*/
/*}*/

#search {
    /* border: 2px solid #e1e1e1; */
    background: white;
    padding: 5px 15px;
    margin: 0px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
}

#search input {
    border: none;
    background: none;
    width: calc(100% - 20px);
}

#search button {
    background: linear-gradient(#ff391e, #f91e00);
    color: white;
    /* color: rgba(255, 255, 255, 0); */
    border: 1px solid #ea1c00;
    width: 40px;
    position: absolute;
    /* float: initial; */
    top: -1px;
    /* right: 551px; */
    bottom: 18px;
    border-radius: 0 30px 30px 0;
    margin: 0;
    user-select: none;
    height: 34px;
}

#footer {
    background: #f6f6f6;
    padding: 20px 0;
}
